/* Track.css */
.Track {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 0;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.Track:last-child {
  border-bottom: none;
}

.Track img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.Track-info h3, .Track-info p {
  margin: 0;
  color: white; 
}

.Track-info button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #1ed760;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
}

.Track-info button:hover {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #1ed760;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transform: scale(1.05);
  color: white;
}